body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #0d0d0d;
    color: white;
    overflow-x: hidden;
}


.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 80px;
    font-weight: 800;
}
.scroll-hint {
    margin-top: 15px;
    font-size: 20px;
    opacity: 0.7;
}


.character-section {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 150px;
    position: relative;
}

.char {
    width: 300px;
    position: relative;
    opacity: 0;
    transform: translateX(200px);
    transition: all 1s ease-out;
}

.char-left {
    transform: translateX(-200px);
}

.char.show {
    opacity: 1;
    transform: translateX(0);
}

/* Bottom section */
.bottom-section {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn {
    display: inline-block;
    padding: 16px 40px;
    font-size: 22px;
    background: #e50914;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.start-btn:hover {
    transform: scale(1.08);
    background: #ff1f26;
}

.char {
    width: 300px;
    opacity: 0;
    transform: translateX(200px);
    transition: all 1s ease-out;
}

.char-left {
    transform: translateX(-200px);
}

.char.show {
    opacity: 1;
    transform: translateX(0);
}